lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
app/css/bootstrap.min.css
app/fonts/glyphicons-halflings-regular.eot
app/fonts/glyphicons-halflings-regular.svg
app/fonts/glyphicons-halflings-regular.ttf
app/fonts/glyphicons-halflings-regular.woff
app/js/libs/
app/js/templates.js
